.titulos {
    margin: 15px 0 15px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 432px;
    height: 70px;
    border-radius: 15px;
    box-shadow: 1px 2px 4px 0 var(--Realblack);

    @media(width <= 720px) {
        margin: 15px 0 15px 50px;
        width: var(--width);
        height: 50px;
    }

    @media(width < 425px) {
        margin: 15px 0 15px 40px;
    }

}

.titulo_categoria {
    font-size: 32px;
    font-weight: bolder;
    color: rgb(245, 245, 245);
    padding: 30px;

    @media(width <= 720px) {
        font-size: 28px;
        padding: 25px;
    }
}