.container {
    font-family: "Press Start 2P";
    width: 100vw;
    height: 80vh;

    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgba(0, 0,0, 0.9);*/
    color: rgb(79, 223, 86);
}

.numeroerror {
    
    font-size: 300px;
    font-weight: 200;
    margin: 1px;
}

.dos {
   
    display: flex;
    flex-direction: row;
}




.guion {
    animation: titila 1s infinite;
}

@keyframes titila {
    0% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}