.container_video {
    position: relative;
    width: 430px;
    height: 319px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    margin: 5px 15px;
}

.video {
    width: 427px;
    height: 240px;
    border-radius: 15px 15px 0PX 0PX;
}

.borde {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 430px;
    height: 319px;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
}

.container_botones {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: transparent;
    width: 95%;
    height: 20%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bolder;
    font-size: 16px;
}