label {
    font-weight: bolder;
    display: block;
    text-align: left;
}

.form_textArea {
    padding: 5px 10px;
    background-color: transparent;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(165, 165, 165, 0.8);
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(254, 254, 254);
    overflow: auto;
    resize: none;

}