.form_boton {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 10px;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(254, 254, 254);
    border-radius: 10px;
    border-width: 1px;
    background-color: transparent;
    padding: 5px 10px;
    margin: 0 15px;
    color: rgb(254, 254, 254);

    &:hover {
        border-color: rgb(34, 113, 209);
    }

    &:active {
        border-color: rgb(34, 113, 209);
        color: rgb(34, 113, 209);
        
    }
}