.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bkSecundario_darkblue);
    height: 10vh;
    border-top-style: solid;
    border-color: var(--Principal_blue);
    border-width: 4px;
    box-shadow: 0px 5px 29px 2px var(--Principal_blue);
}

.logo {
    position: absolute; 
    padding: 30px;
}