.imgFondo {
    width: 100%;
    height: 70vh;
    opacity: .7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.grardiente {
    width: 100%;
    height: 70vh;
    background: linear-gradient(var(--bkSecundario_darkblue), var(--Principal_blue));
    opacity: 0.56;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo_descripcion_y_video {
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 300px;
}

.titulo_descripcion{
    width: 45%;
    display: flex;
    flex-direction: column;    
}

.descripcion{
    padding: 20px;
    color: white;
    font-size: 18px;
}